.titulos{
    color:  #21d7ff;
    padding-top: 2rem;
}
.main_inf{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.car_valo{
    display: flex;
}
.cont_mis{
    padding-top: 2.5rem;
    width: 30rem;
    padding-left: 3rem;
}
.car_mision{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
.ayu{
    text-align: center;
}
.car_infos{
    display: flex;
    justify-content:space-around;
}
.car_dir{
    width: 10rem;
    padding: 3rem;
}
@media (max-width: 700px){
    .main_inf{
        flex-direction: column;
        height: auto;
    }
    .car_mision{
        flex-direction: column;
        padding: auto;
    }
    .car_infos{
        flex-direction: column;
    }
    .ayu{
        flex-direction: auto;
    }
    .car_valo{
        flex-direction: column;
    }
    .titulos{
        text-align: center;
    }

}
